<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://becode.com.br/wp-content/uploads/2016/10/Frases-Programadores-1.png" width="30" height="30" class="d-inline-block align-top"
            alt="">
       CD37
    </a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/compras">COMPRAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">VENDAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Desativado</a>
        </li>
    </ul>
</nav>