<%- include ("partials/header.ejs") %>

    <%- include ("partials/navbar.ejs") %>
    <div style="width: 60%; margin-left: 20%;">
    
        <form method="post" action="/page1">
            <div class="form-group">
                <label>index</label>
                <input type="text" name="index" class="form-control" placeholder="Nome do Index">               
            </div>
    
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    
    </div>
    
 


<%- include ("partials/footer.ejs") %>
